<!DOCTYPE html>

<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AODB</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="topnav">
        <div class="topnav">
            <ul>
                <li><a href="#home" class="active">Home</a></li>
                <li><a href="/airports">Airports</a></li>
                <li><a href="/airlines">Airlines</a></li>
                <li><a href="/aircrafts">Aircraft</a></li>
                <li><a href="/flights">Flights</a></li>
            </ul>
            <input type="text" placeholder="Search..">
        </div>
    </div>

    <div class = "container">